page-user-profile-editeble {
	.levelName{
		font-family:pisavaGumbi;
		font-weight: bold;
		color: #80bfff;
		font-size:22px;
		
	}
	.fixed-content {
   		background: white;
    }
    .ikona{
    	color: #80bfff;
    }
    .procent{
    	color: #80bfff;
    	font-family:pisavaGumbi;
    }
    #levelsList{
    	margin-right: 17px;
    }
    .username
    {
        font-family:pisavaGumbi;
        font-size: 20px;
        float:left;
    }
    .email
    {
        font-family:pisavaGumbi;
        font-size: 20px;
        float:left;
    }
    .whiteText{
        font-family:pisavaGumbi;
        font-size: 20px;
        float:left;
        color:white;
    }
    .cardHeader
    {
        font-family: pisavaGumbi;
        font-size: 20px;
        color:#80bfff;
        float:left;
    }
    .napis{
     font-family: pisavaGumbi;
   }
   .beliNapis{
    padding-right: 50px;
   }
   .gumb{
      /*color:#80bfff;*/
   }

}
