page-levels {
	.levelName{
		font-family:pisavaGumbi;
		font-weight: bold;
		color: #80bfff;
		font-size:22px;
		
	}
    .beliNapis
    {
        padding-right: 50px;
    }
	.fixed-content {
   		background: white;
    }
    .ikona{
    	color: #80bfff;
    }
    .procent{
    	color: #80bfff;
    	font-family:pisavaGumbi;
    }
    #levelsList{
    	margin-right: 17px;
    }
}